.month {
    background-color: #fff;
    width: 100%;
    margin: 0;
    .month__header {
        margin: 0;
        border: 1px solid #ccc;
        padding: 0.05em;
        text-align: center;
    }
}